credentials
**/dist
**/bower_components
**/node_modules
**/prod.py
bin/
include/
man/
.idea/
.data*/
lib/python2.6/distutils/
lib/boondi
*.pyc
*.tmp*
!*.tmpl
temp/
*.directory
*Thumbs.db
.idea*
*.directory
*prod.py
*config_local.py
*.swp
*.swm
*.swo
*~
.project
.pydevproject
*/templates/**/__init__.py
*/templates/__init__.py
.metadata/
*.ropeproject/
doc/*.log
doc/*.vimout
doc/*.eps.*
doc/*.tuc
datastore.*
chromedriver
setup.cfg
node_modules
.grunt-gae-pid
logs.db
xsrf
tests/init/data/logs.db-journal
